* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* site default style */
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

h2 {
    font-weight: 900;
}

.site-container {
    width: 1440px;
    margin: 0 auto;
}

.d-flix {
    display: flex;
}

.jut-content {
    justify-content: space-between
}

.ali-center {
    align-items: center;
}

/* site header nav style */


/* site mani content style */

/* site footer style */